.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.display-linebreak {
  white-space: pre-line;
}

.bar {
  position: fixed;
  margin-right: 64px;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  right: 0;
  padding: 20px;
  color: black;
  font-family: 'Crimson Text', serif;
}

.resultInfo {
  text-align: left;
}

.sidebar h1 {
  text-align: center;
}

.pack {
  margin-right: 20%;
}

.logo-part {
  color: blue;
}

@media (max-width:480px) {
  .sidebar {
    display: none;
  }
  .pack {
    margin-right: 0;
  }
}

.hidden {
  display: none;
}

.explanation {
  padding: 16px;
}
